$color-fedex: #4c148c;
$color-boton: #ff6600;
#formregistro {
    width: 70%;
    margin-top: 6%;
}

.center-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-form {
    width: 100%;
    color: white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    .row {
        display: flex;
        flex-wrap: nowrap;
    }
    h4 {
        color: white !important;
        margin: 0%;
        margin-left: 20%;
        font-size: 2.3vw;
    }
    p {
        font-size: 1vw;
        margin: 0%;
        margin-left: 6%;
        line-height: 1.3;
    }
    .cont-triangulo {
        height: auto;
        justify-content: center;
        align-self: flex-start;
    }
    .triangulo-equilatero-bottom {
        width: 0;
        height: 0;
        border-right: 10px solid transparent;
        border-top: 10px solid transparent;
        border-left: 10px solid transparent;
        border-bottom: 10px solid white;
    }
}

.menu-form:first-child {
    border-left: none;
}

.width-100 {
    width: 100%;
}

#step-menu-1 {
    border-bottom: 20px solid;
    color: white;
}

#step-menu-2 {
    border-bottom: 20px solid;
    color: #4c148c;
}

#step-menu-3 {
    border-bottom: 20px solid;
    color: #4c148c;
}

.steps {
    margin-top: 3%;
}

.checkboxesSection {
    width: 100%;
}

.step-button {
    width: 100%;
    background: $color-boton;
    margin: 3% 2% 0% 2%;
    padding: 2% 0% 2% 0%;
    color: white;
}

.cont-btn-steps {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 3% 0% 0% 0%;
    padding: 0%;
    .btn-step-back {
        width: 22%;
        background: $color-boton;
        margin: 0%;
        margin-right: 1.2%;
    }
    .btn-step-back:hover {
        background: $color-boton;
        border: none;
    }
    .btn-step-next:hover {
        background: $color-boton;
        border: none;
    }
    .btn-step-next {
        width: 71%;
        background: $color-boton;
        margin: 0%;
        margin-left: 1.2%;
    }
}

#step-1 {
    display: block;
}

#step-2 {
    display: none;
}

#step-3 {
    display: none;
}

#alerta-step-1 {
    display: block;
}

#alerta-step-2 {
    display: block;
}

#alerta-step-3 {
    display: block;
}

.mb-3 {
    margin-bottom: 1% !important;
}

.textWhite {
    width: 100%;
    margin-top: 0%;
    font-size: 10pt !important;
    text-align: center !important;
}

#empresa,
#socio {
    display: none;
}

.gamepage {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: url('https://arturoocampo93.github.io/FedEx2020/images/Master.png');
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: top;
    .game {
        width: 800px;
        background: white;
        height: 600px;
        margin-top: 2%;
        margin-bottom: 5%;
        text-align: center;
    }
}

.bottom {
    clear: both;
    bottom: 0;
    align-self: flex-end;
}

thead {
    text-align: center;
}

tfoot {
    text-align: center;
    font-weight: bold;
    .text-right {
        text-align: right;
    }
}

.margin-Bottom {
    margin-bottom: 5%;
}

#Registrate {
    width: 100%;
}

#formregistro {
    width: 100%;
}

@media only screen and (max-width: 769px) {
    #formregistro {
        width: 100%;
        margin-top: 6%;
    }
    .menu-form {
        width: 100%;
        color: white;
        border-bottom: 1px solid white;
        border-left: 1px solid white;
        .row {
            display: flex;
            flex-wrap: wrap;
        }
        h4 {
            color: white !important;
            margin: 0%;
            margin-left: 6%;
            font-size: 4vw;
        }
        p {
            font-size: 2.5vw;
            margin: 0%;
            margin-left: 6%;
            line-height: 1.3;
        }
        .cont-triangulo {
            height: auto;
            justify-content: center;
            align-self: flex-start;
        }
        .triangulo-equilatero-bottom {
            width: 0;
            height: 0;
            border-right: 10px solid transparent;
            border-top: 10px solid transparent;
            border-left: 10px solid transparent;
            border-bottom: 10px solid white;
        }
    }
}

@media only screen and (max-width: 426px) {
    .ValidationLogIn {
        width: 100%;
    }
    #formregistro {
        width: 100%;
        margin-top: 6%;
    }
    .menu-form {
        width: 100%;
        color: white;
        border-bottom: 1px solid white;
        border-left: 1px solid white;
        .row {
            display: flex;
            flex-wrap: wrap;
        }
        h4 {
            color: white !important;
            margin: 0%;
            margin-left: 6%;
            font-size: 5vw;
        }
        p {
            font-size: 4vw;
            margin: 0%;
            margin-left: 6%;
            line-height: 1.3;
        }
        .cont-triangulo {
            height: auto;
            justify-content: center;
            align-self: flex-start;
        }
        .triangulo-equilatero-bottom {
            width: 0;
            height: 0;
            border-right: 10px solid transparent;
            border-top: 10px solid transparent;
            border-left: 10px solid transparent;
            border-bottom: 10px solid white;
        }
    }
    .linea {
        border: none;
    }
}